.hero-container {
  display: flex;
  height: 35em;
  width: 90%;
  margin: 0 auto;  
  margin-top: 2em;
  border-bottom: none;
}

.hero-section-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.actionnetwork.com/1200x675/blog/2021/05/GettyImages-1233110032-scaled.jpg");
  filter: brightness(90%);
  width: 60%;
  text-align: right;
}

.sidebar-img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80%;
}

.hero-section-sidebar-container {
  font-family: inter;
  width: 40%;
}

.hero-section-sidebar-title {
  text-align: center;
  margin-bottom: 2em;
  margin-top: 2em;
  font-family: sans-serif;
}

.hero-section-sidebar-links {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
  font-family: sans-serif;
}

.hero-main-title p {
  color: white;
  margin-left: 1.4em;
  font-size: 1.9em;
  text-align: left;
  margin-top: 2%;
  font-family: sans-serif;
  font-weight: 800;
}

.hero-main-title p:hover {
  color: orangered;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.sidebar-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  height: 11.6em;
  border: 3px solid white;
}

.sidebar-box p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 13px;
  background-color: black;
  margin: 0;
  height: 50px;
}

.sidebar-box p:hover {
  color: orangered;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

.main-container {
  display: grid;
  grid-template-areas: 
  "sidebar-left main-section sidebar-right";
  grid-template-columns: .5fr 1fr .5fr;
  grid-template-rows: 1fr;
  width: 90%;
  height: 40vh;
  background-color: white;
  margin: 0 auto;
}

.main-section {
  grid-area: "main-section";
  display: flex;
  font-family: sans-serif;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  padding: 20px;
  width: 100%;
}

.sidebar-left {
  grid-area: "sidebar-left";
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: "sidebar-left";
  border: 1px solid black;
  background-color: white;
}

.sidebar-right {
  grid-area: "sidebar-right";
  display: flex;
  font-family: sans-serif;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 20px;
  width: 100%;
}