.news-container {
  display: grid;
  grid-gap: 5px;
  height: 65vh;
  width: 95%;
  margin: 0 auto;  
  margin-top: 2em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "main main sidebar"
    "main main sidebar";
}

.main-article {
  position: relative;
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#main-img {
  width: 100%;
  height: 100%;
}

#main-link {
  position: absolute;
  top: 10px;
  padding: 20px;
  color: white;
  font-size: 1.4em;
}

.side-articles {
  grid-area: sidebar;
  grid-gap: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "article-1 article-2"
    "article-3 article-4";
  height: 100%;
}


.article-1 {
  grid-area: article-1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr .2fr;
  grid-template-areas: 
    "img-1"
    "sidebar-link1";
}

.article-2 {
  grid-area: article-2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr .2fr;
  grid-template-areas: 
    "img-2"
    "sidebar-link2";
}

.article-3 {
  grid-area: article-3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr .2fr;
  grid-template-areas: 
    "img-3"
    "sidebar-link3";
  
}

.article-4 {
  grid-area: article-4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr .2fr;
  grid-template-areas: 
    "img-4"
    "sidebar-link4";
}

.sidebar-link1 {
  grid-area: sidebar-link1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
  font-size: .8rem;
  min-height: 50px;
}

.sidebar-link2 {
  grid-area: sidebar-link2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
  font-size: .8rem;
  min-height: 50px;
}

.sidebar-link3 {
  grid-area: sidebar-link3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
  font-size: .8rem;
  min-height: 50px;
}

.sidebar-link4 {
  grid-area: sidebar-link4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
  font-size: .8rem;
  min-height: 50px;
}

.img-1 {
  grid-area: img-1;
  width: 100%;
  height: 100%;
}

.img-2 {
  grid-area: img-2;
  width: 100%;
  height: 100%;
}

.img-3 {
  grid-area: img-3;
  width: 100%;
  height: 100%;
}

.img-4 {
  grid-area: img-4;
  width: 100%;
  height: 100%;
}