@import './Community.css';

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  width: 100%;
  height: 60px;
  font-weight: bold;
  position: sticky;
  top: 0px;
  z-index: 1;
  border: none;
}

.nav-btns button {
  border: none;
  border-radius: 6px;
  margin-right: 3em;
  padding: 6px;
  background-color: black;
  color: white;
  position: inherit;
}

 .nav-btns button:hover {
  border: none;
  margin-right: 3em;
  border-radius: 6px;
  padding: 6px;
  background-color: black;
  color: rgb(248, 99, 0);
} 

body {
  /* background-image: url('./images/court.jpg'); */
  background-color: grey;
  background-repeat: no-repeat; 
	background-position: center;
	background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.player-container li {
  flex: 0 0 20%; /* explanation below */
  flex-direction: column;
  height: 350px;
  margin: 0 auto;
  color: black;
  list-style-type: none;
  margin-bottom: 60px;
  margin-right: 5px;
  text-align: center;
  border: none;
  background-color: #2a054e;
  border-radius: 15px;
  box-shadow: 12px 8px black;
}


.player-info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-right: 160px;
  margin-bottom: 20px;
}



.image-container img {
  margin-top: 10px;
  width: 350px;
  height: 228px;
}

h2::after:hover {
  content: "hello";
  color: black;;
  font-size: 50px;
  position: relative;
}

h2 {
background-color: black;
color: #dc4309;
margin-bottom: 10px;
margin-top: 0px;
font-family: 'proxima-nova';
border-radius: 10px;
}

h5, p {
color: white;
}

.stats {
 display: flex;
 justify-content: space-evenly;
 
}


.login-container {
  display: block;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 10%;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  text-decoration: none;
  padding: 1em;
  border: none;
  width: 30%;
  height: 40%;
  background-color: #e5e8e8;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
  }


.registration-container {
  display: block;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 10%;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  padding: 1em;
  border: none;
  width: 30%;
  height: 40%;
  background-color: #e5e8e8;
  box-shadow: inset 0 0 15px rgba(0,0,0,.5);

}

.contact-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 10%;
  text-align: center;
  justify-content: space-evenly;
  text-decoration: none;
  padding: 1em;
  border: none;
  width: 30%;
  height: 500px;
  background-color: #e5e8e8;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
  }

.contact-container, label {
  font-family: inter;  
}  
  
.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  min-width: 40%;
  height: 50px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #db4d00;
  box-shadow: inset 0 0 8px rgba(0,0,0,.5);
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.login-button:hover {
  transform: skew(-5deg);
  border-radius: 10px;
  background-color: orangered;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  min-width: 40%;
  height: 50px;
  font-weight: bold;
  box-shadow: inset 0 0 8px rgba(0,0,0,.5);
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

  
h1 {
  width: 100%; 
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 30px;
  font-weight: lighter;
}

p {
  font-size: 12px;
}

input {
  margin: 0 auto;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.login-container, label {
  display: flex;
  font-weight: bold;
}

.registration-container, label {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    margin-bottom: 15px;
}

.tos {
  margin-top: 20px;
  margin-bottom: 50px;
}  

.hero-container {
  display: flex;
  /* border: 10px solid green; */
  height: 35em;
  width: 100%;
  margin-top: 5%;
  
}

.hero-section-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.actionnetwork.com/1200x675/blog/2021/05/GettyImages-1233110032-scaled.jpg");
  filter: brightness(90%);
  width: 60%;
  text-align: right;
}

.hero-section-sidebar-container {
  /* border: 3px solid blue; */
  background-color: black;
  color: white;
  font-family: inter;
  width: 40%;
  

}

.hero-section-sidebar-title {
  text-align: center;
  margin-bottom: 2em;
  margin-top: 2em;
  font-family: sans-serif;
}

.hero-section-sidebar-links {
  /* border: 3px solid yellow; */
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
  font-family: sans-serif;
  
}

.hero-main-title p {
  color: white;
  margin-left: 1.4em;
  font-size: 1.9em;
  text-align: left;
  margin-top: 2%;
  font-family: sans-serif;
  font-weight: 800;
}

.sidebar-box {
  position: relative;
  display: flex;
  border: 1px solid blue;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 50%;
  height: 11.6em;
}

.twitter-feed {
  display: flex;
  background-color: white;
  margin-top: 2em;
  justify-content: space-around;
}

