@import './Community.css';

body {
  background-color: grey;
  background-repeat: no-repeat; 
	background-position: center;
	background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

h1 {
  width: 100%; 
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 30px;
  font-weight: lighter;
}

h2::after:hover {
  content: "hello";
  color: black;;
  font-size: 50px;
  position: relative;
}

h2 {
background-color: black;
color: #dc4309;
margin-bottom: 10px;
margin-top: 0px;
font-family: 'proxima-nova';
border-radius: 10px;
}

h5, p {
color: white;
}  
  
p {
  font-size: 12px;
}



